:root {
  --main-text-color: #434455;
  --icon-hover: #31d0aa;
  --second-text-color: #2e2f42;
  --accent-text-color: #ffffff;
  --backgound-second-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --header-footer-background-color: #2f303a;
  --team-icon-color: #f4f4fd;
  --typical-margin: 24px;
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------GLOBAL STYLE------------------------ */
body {
  background-color: var(--background-main-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.no-scroll {
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 426px) {
  .container {
    max-width: 426px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--animation-time), color var(--animation-time);
}
.soc-item {
  width: 40px;
  height: 40px;
}
/*  ------------------------------HEADER----------------------------------------------  */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* -------------------------------LOGO------------------------------------------------- */

.header-logo,
.footer-logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--second-text-color);
}
.humburber-link {
  padding-top: 24px;
  padding-bottom: 24px;
  border: none;
  background-color: var(--accent-text-color);
}
.icon-menu {
  display: inline-block;
  width: 32px;
  height: 22px;
  stroke-width: 3px;
  stroke: #2e2f42;
  fill: #2e2f42;
}

/* -------------------------------NAV------------------------------------------------ */

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--second-text-color);
  transition: color var(--animation-time);
}

.contact-link {
  display: block;
  color: #434455;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  transition: color var(--animation-time);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
  position: relative;
}

.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* -----------------------CONTACTS------------------------------------- */
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.color-contact {
  color: var(--main-text-color);
}

.nav {
  display: none;
}
.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .humburber-link {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header .container {
    justify-content: center;
    margin-left: auto;
  }
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ---------------MOBILE MENU--------------------- */
.mob-btn {
  background-color: var(--accent-text-color);
}
.mob-wrap {
  margin: 0 auto;
}
.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-text-color);
  padding: 80px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container .mob-menu {
  margin: 0 auto;
}
.mob-menu.is-open {
  transform: translateX(0);
}
.mob-link,
.contact-inform-tel {
  display: block;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mob-item {
  margin-bottom: 40px;
}

.mob-link {
  font-size: 36px;
  color: var(--second-text-color);
}

.contact-inform {
  font-style: normal;
}
.contact-inform-tel {
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--accent-color);
}
.contact-inform-mail {
  display: block;
  margin-bottom: 48px;
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mob-active,
.active {
  color: #404bbf;
}
.mob-soc-list {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}

.mob-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: color var(--animation-time), background-color var(--animation-time);
}
.mob-soc-icon {
  fill: var(--accent-text-color);
}
.mob-soc-item .mob-soc-link:hover,
.mob-soc-item .mob-soc-link:focus {
  background-color: var(--icon-hover);
}
@media screen and (min-width: 428px) {
  .contact-inform-tel {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
/* -------------------------------HERO------------------------------ */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-img-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* max-width: 428px; */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-img-mob@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
  screen and (min-resolution: 96dpi) and (min-width: 768px),
  screen and (min-resolution: 1dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-img-tablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-img-tablet@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1158px),
  screen and (min-resolution: 96dpi) and (min-width: 1158px),
  screen and (min-resolution: 1dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-img.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg-img@2x.jpg');
  }
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 320px;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.hero .container {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 900px;
  }
  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: calc(50 / 36);
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
    width: 496px;
  }
  .contact {
    margin-left: auto;
  }
}
.btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  background-color: var(--accent-color);
  color: var(--accent-text-color);
}
.hero-btn {
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition-duration: 500ms;
}
.hero-btn:hover,
.hero-btn:focus,
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
  transform: scale(1.1);
}

/* ---------------------------BENEFITS-------------------------- */
.benefits .container {
  margin: 0 auto;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;
}
.benefits-item {
  width: 100%;
}
.benefits-item::before {
  display: none;
}
.benefits-subtitle {
  margin-bottom: 8px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.benefits-text {
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-item {
    width: 356px;
  }
  .benefits-subtitle {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefits-item {
    width: 264px;
  }
  .benefits-item::before {
    display: block;
  }
  .benefits-item::before {
    display: block;
    content: '';
    height: 112px;
    border-radius: 4px;
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--backgound-second-color);
  }
  .icon-antena::before {
    background-image: url(../images/icon-antenna.svg);
  }
  .icon-time::before {
    background-image: url(../images/icon-time.svg);
  }
  .icon-diagram::before {
    background-image: url(../images/icon-diagram.svg);
  }
  .icon-feature::before {
    background-image: url(../images/icon-feature.svg);
  }
  .benefits-subtitle {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-text {
    font-weight: 400;
  }
}

/* ----------------------------WORK------------------------------ */
.work {
  display: none;
  padding-top: 0px;
}
.work .container {
  margin: 0 auto;
}
.work-list {
  display: flex;
  gap: 24px;
  /* mpargin: -15px; */
}
.work-item {
  position: relative;
  flex-basis: calc(100% / 2 - 24px);
  /* margin: 15px; */
}

.work-title,
.team-title,
.clients-title {
  font-weight: 700;
  margin-bottom: 72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
@media screen and (min-width: 1158px) {
  .work {
    display: block;
  }
}
/* ----------------------------TEAM------------------------------ */
.team .container {
  margin: 0 auto;
}
.team {
  background-color: var(--backgound-second-color);
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
.team-subtitle {
  margin-bottom: 8px;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.team-item {
  width: 264px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-description {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item:not(:last-child) {
  margin-right: var(--typical-margin);
}

/* .team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
} 
через бітька задали нащадку
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--accent-text-color);
} */
.team-soc-link {
  padding: 12px;
  background-color: var(--accent-color);
  color: var(--team-icon-color);
}
.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
  color: var(--accent-text-color);
}
/* -------------------------CLIENTS------------------------------ */
.clients .container {
  margin: 0 auto;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}
.clients-item {
  width: 190px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color var(--animation-time), border var(--animation-time);
}
@media screen and (min-width: 768px) {
  .clients-list {
    column-gap: 24px;
  }
  .clients-item {
    width: 168px;
  }
  .clients-link {
    width: 168px;
  }
}
@media screen and (min-width: 1158px) {
  .clients-list {
    column-gap: 24px;
  }
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: #404bbf;
  border: 1px solid #404bbf;
}

/* -------------------------FOOTER------------------------------- */
.footer .container {
  margin: 0 auto;
}
.footer {
  background-color: var(--second-text-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-white {
  color: var(--accent-text-color);
}
.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-media-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.social-media-list {
  display: flex;
  gap: 16px;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: color var(--animation-time), background-color var(--animation-time);
}
.icon-img {
  fill: var(--accent-text-color);
}
.social-media-item > .icon-link:hover,
.social-media-item > .icon-link:focus {
  background-color: var(--icon-hover);
}
.footer-form-email {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--accent-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--accent-text-color);
}
.footer-form-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
  color: var(--accent-text-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}
.subscribe-footer-icon {
  margin-left: 16px;
  fill: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    text-align: center;
  }

  .footer-text {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
  }

  .social-media-list {
    justify-content: center;
  }

  .footer-social-media-wrapper {
    margin-bottom: 72px;
  }

  .footer-form-email {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  .footer-form-button {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1157px) {
  .footer-left-side {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }

  .footer-left-side {
    margin-right: 24px;
  }

  .footer-form-label {
    margin-right: 24px;
  }

  .footer-form {
    display: flex;
    align-items: center;
  }

  .footer-form-email {
    width: 264px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-wrapper {
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 164px;
  }

  .footer-social-media-wrapper {
    margin-bottom: 104px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-left-side {
    margin-right: 120px;
  }

  .footer-social-media-wrapper {
    margin-right: 80px;
  }
}

/* ------------------------------------MODAL WINDOW---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 55, 74, 0.3);
  /* opacity: 1; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  min-height: 584px;
  width: 90%;
  /* width: calc(100% - 30px); */
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-modal-bnt {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--second-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* perspective: 600px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-bg {
  background-color: #e7e9fc;
}
.icon-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-modal-bnt:hover,
.close-modal-bnt:focus {
  fill: #ffffff;
  background-color: #404bbf;
}
.modal-title {
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--second-text-color);
}
.form-child {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border var(--animation-time), fill var(--animation-time);
}
.form-child:focus {
  border: 1px solid var(--accent-color);
}
.modal-field {
  margin-bottom: 10px;
}
.modal-input {
  padding: 11px 38px;
  height: 40px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-textarea-wrap {
  margin-bottom: 20px;
}
.modal-textarea {
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox-wrap {
  display: flex;
  align-items: center;
  align-items: baseline;
  margin-bottom: var(--typical-margin);
}

.check-text {
  /* max-width: 338px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* ///////////////////////BEFORE + BG image///////////////////////// */
/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-text-color);
  border-radius: 2px;
  margin-right: 9px;
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-time), color var(--animation-time),
    fill var(--animation-time);
}
.check-icon {
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.input-check:checked + .check-text .check-icon {
  fill: #ffffff;
}
.input-check:focus-within + .check-text .check-icon {
  outline: 1px solid var(--accent-color);
}
.check-text-link {
  /* margin-left: 4px; */
  color: var(--accent-color);
}

.form-btn {
  margin-top: var(--typical-margin);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 169px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
  transform: scale(1.01);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 428px) {
  .modal {
    width: 392px;
  }
  .check-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}

/* ----------------------Portfolio---------------------------- */

/* ---------------BUTTON----------------------- */
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio .container {
  margin: 0 auto;
}
.portfolio-btn {
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  color: var(--accent-color);
  transition: background-color var(--animation-time), color var(--animation-time),
    box-shadow var(--animation-time);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #404bbf;
  color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  row-gap: 16px;
  column-gap: 24px;
}

.portfolio-btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}
/* /* ----------------------------------CARD-----------------------------------  */
.card {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.card-link {
  display: block;
  color: inherit;
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item {
  /* flex-basis: calc(100% / 3 - 24px); */
  width: 100%;
  max-width: 396px;
  max-height: 400px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .portfolio-btn {
    padding: 12px 24px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;
    gap: 24px;
  }
  .card {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .card-item {
    width: 100%;
    max-width: 356px;
    max-height: 420px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .portfolio-list {
    margin-bottom: 72px;
  }
  .card {
    row-gap: 48px;
  }
  .card-item {
    width: 100%;
    max-width: 360px;
  }
}
.card-relative {
  position: relative;
  overflow: hidden;
}

.card-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 164px;
  font-size: 16px;
  line-height: 1.5;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
  background-color: #4d5ae5;
}
.card-link:hover .card-absolute,
.card-link:focus .card-absolute {
  transform: translateY(0);
  background-color: #4d5ae5;
}

.card-subtitle {
  margin-bottom: 8px;
  color: var(--second-text-color);
  font-size: 20px;
  line-height: 1.2;
}
.card-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
.card-text-possition {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
