:root {
  --main-text-color: #434455;
  /* --clients-color: #8e8f99; */
  --second-text-color: #2e2f42;
  --accent-text-color: #ffffff;
  --backgound-second-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --header-footer-background-color: #2f303a;
  --team-icon-color: #f4f4fd;
  --typical-margin: 24px;
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------GLOBAL STYLE---------------------------------------------- */
body {
  background-color: var(--background-main-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--animation-time), color var(--animation-time);
}
.soc-item {
  width: 40px;
  height: 40px;
}
/*  ------------------------------HEADER----------------------------------------------  */
.header {
  border-bottom: 1px solid #ececec;
}
/* -------------------------------LOGO------------------------------------------------- */
.header-logo,
.footer-logo {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
}
.logo-black {
  color: var(--second-text-color);
}

/* -------------------------------NAV------------------------------------------------ */
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.nav-link,
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color var(--animation-time);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item {
  position: relative;
}
.active {
  color: #404bbf;
}
.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* -----------------------CONTACTS------------------------------------- */
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.color-contact {
  color: var(--main-text-color);
}
.contact-link {
  display: flex;
  align-items: center;
}
.tel-soc-icon,
.mail-soc-icon {
  fill: currentColor;
  margin-right: 10px;
}
/* -------------------------------HERO------------------------------ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--header-footer-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: var(--typical-margin);
  width: 496px;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 56px;
  font-size: 44px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  background-color: var(--accent-color);
  color: var(--accent-text-color);
}
.hero-btn {
  padding: 16px 32px;
  transform: scale(1);
  transition-duration: 500ms;
}
.hero-btn:hover,
.hero-btn:focus,
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
  transform: scale(1.1);
}
/* ---------------------------BENEFITS-------------------------- */

.benefits-list {
  display: flex;
  align-items: center;
}
.benefits-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.benefits-item {
  width: 264px;
}
.benefits-item::before {
  display: block;
  content: '';
  height: 112px;
  border-radius: 4px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--backgound-second-color);
}
.icon-antena::before {
  background-image: url(../images/icon-antenna.svg);
}
.icon-time::before {
  background-image: url(../images/icon-time.svg);
}
.icon-diagram::before {
  background-image: url(../images/icon-diagram.svg);
}
.icon-feature::before {
  background-image: url(../images/icon-feature.svg);
}
.benefits-subtitle {
  margin-top: 8px;
  margin-bottom: 8px;

  color: var(--second-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.benefits-text {
  line-height: 1.5;
}
/* ----------------------------WORK------------------------------ */
.work {
  padding-top: 0px;
}
.work-list {
  display: flex;
  margin: -15px;
}
.work-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}

.work-title,
.team-title,
.clients-title {
  margin-bottom: 72px;
  text-transform: capitalize;

  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* ----------------------------TEAM------------------------------ */
.team {
  background-color: var(--backgound-second-color);
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.team-subtitle {
  margin-bottom: 8px;

  color: var(--second-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.team-item {
  width: 264px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
}
.team-description {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item:not(:last-child) {
  margin-right: var(--typical-margin);
}

/* .team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
} 
через бітька задали нащадку
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--accent-text-color);
} */
.team-soc-link {
  padding: 12px;
  background-color: var(--accent-color);
  color: var(--team-icon-color);
}
.team-soc-icon {
  fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}
/* -------------------------CLIENTS------------------------------ */
.clients-list {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: var(--typical-margin);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color var(--animation-time), border var(--animation-time);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* -------------------------FOOTER------------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-text-color);
}
.footer-position {
  display: flex;
  align-items: baseline;
}
.footer-position:last-child {
  justify-content: end;
}
.footer-container {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-white {
  color: var(--accent-text-color);
}
.footer-text {
  width: 264px;
  height: 72px;
  line-height: 1.5;
  color: #f4f4fd;
}
.connect-link {
  color: rgba(225, 225, 225, 0.6);
}
.join {
  margin-right: 80px;
}
.join-title,
.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--accent-text-color);
}
.join-soc-list {
  display: flex;
  justify-content: center;
}
.join-soc-link {
  padding: 8px;
  color: var(--backgound-second-color);
  background-color: var(--accent-color);
}
.join-soc-item:not(:last-child) {
  margin-right: 16px;
}
.join-soc-link {
  fill: currentColor;
}
/* .join-soc-link:hover,
.join-soc-link:focus {
  background-color: var(--accent-color);
} */

.input-footer-wrap {
  display: flex;
}
.input-footer {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 24px;
  width: 264px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: var(--accent-text-color);
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  width: 165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--animation-time);
}
/* .footer-btn:hover,
.footer-btn:focus {
  background-color: #188ce8;
} */

.icon-telegram {
  margin-left: 16px;
  fill: currentColor;
}
/* ------------------------------------MODAL WINDOW---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--animation-time);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform var(--animation-time);
}

.close-modal-bnt {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  color: var(--second-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* perspective: 600px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-modal-bnt:hover,
.close-modal-bnt:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}
.modal-title {
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--second-text-color);
}
.form-child {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border var(--animation-time), fill var (--animation-time);
}
.form-child:focus {
  border: 1px solid var(--accent-color);
}
.modal-field {
  margin-bottom: 10px;
}
.modal-input {
  padding: 11px 42px;
  height: 40px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.modal-textarea-wrap {
  margin-bottom: 20px;
}
.modal-textarea {
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox-wrap {
  display: flex;
  align-items: baseline;

  margin-bottom: var(--typical-margin);
}
.input-check {
  padding-left: 54px;
}
.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* ////////////////////////////////////////////////BEFORE + BG image///////////////////////// */
/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-text-color);
  border-radius: 2px;
  margin-right: 9px;
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-time), color var(--animation-time),
    fill var(--animation-time);
}
.check-icon {
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.input-check:checked + .check-text .check-icon {
  fill: #ffffff;
}
.check-text-link {
  margin-left: 4px;
  color: var(--accent-color);
}

.form-btn {
  margin-top: var(--typical-margin);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 169px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
  transform: scale(1.01);
  transition: transform var(--animation-time);
}
/* ----------------------------------------------------------Portfolio-------------------------------------------- */

/* -----------------------------BUTTON----------------------------------------- */

.portfolio-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--backgound-second-color);
  color: var(--second-text-color);
  transition: background-color var(--animation-time), color var(--animation-time),
    box-shadow var(--animation-time);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
/* /* ----------------------------------CARD-----------------------------------  */
.card {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.card-link {
  display: block;
  color: inherit;
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}
.card-relative {
  position: relative;
  height: 294px;
  overflow: hidden;
}

.card-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  font-size: 18px;
  line-height: 1.56;

  transform: translatey(101%);
  overflow: hidden;
  transition: transform var(--animation-time);

  color: var(--accent-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.card-link:hover .card-absolute,
.card-link:focus .card-absolute {
  transform: translatey(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.card-subtitle {
  margin-bottom: 4px;
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
}
.card-text-possition {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
